.soldTvs {
    color: green;
    background-color: greenyellow;
}

.startStock {
    color: blue;
    background-color: cornflowerblue;
}

.currentStock {
    color: orangered;
    background-color: lightpink;
}

button {
    background-color:lightskyblue ;
    color: blueviolet;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

button + button {
    margin-left: 10px;
}


.icons {
    width: 20px;
    height: 20px;
}