.soldTvs {
    color: green;
    background-color: greenyellow;
}

.startStock {
    color: blue;
    background-color: cornflowerblue;
}

.currentStock {
    color: orangered;
    background-color: lightpink;
}